{{define "footer"}}   
	<!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <!-- <footer class="footer"> -->
        <!-- <div class="container"> -->
            <!-- <div class="text-center"> -->
                <!-- Copyright © 2019 Dashtreme Admin -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </footer> -->
    <!--End footer-->
  
  
  
  
  
<!-- Modal -->
	<div class="modal fade" id="openDiaglog">
		<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">{{ GetPhrase 184 }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<div class="row" id="dirOpenDialogList"></div>
		</div>
		
			<div class="modal-footer">
				<div class="media-body ml-1">
					<p class="selectDir" data-path=" " class="icon-screen-desktop icons"></p>
					<small class="small-font" id="dialogFullPath"></small>
				</div>
			<button type="button" id="dirOpenDialogBack" class="btn btn-dark"><i class="fa fa-arrow-left"></i> {{ GetPhrase 186 }}</button>
			<button data-dismiss="modal" aria-label="Close" type="button" id="dirOpenDialogApply" class="btn btn-primary"><i class="fa fa-check-square-o"></i> {{ GetPhrase 185 }}</button>
			</div>
		</div>
		</div>
	</div>
	
	
  {{ end }}