{{define "scripts"}}   
  <!-- Bootstrap core JavaScript-->
  <script src="/template/assets/js/jquery.min.js"></script>
  <script src="/template/assets/js/popper.min.js"></script>
  <script src="/template/assets/js/bootstrap.min.js"></script>
	
  <!-- simplebar js -->
  <script src="/template/assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="/template/assets/js/sidebar-menu.js"></script>
  <!-- <script src="/template/assets/plugins/Chart.js/Chart.min.js"></script> -->

  <!-- Easy Pie Chart JS -->
  <!-- <script src="/template/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script> -->

  <!-- Apex Chart JS -->
  <!-- <script src="/template/assets/plugins/apexcharts/apexcharts.js?{{ .UnixTime }}"></script> -->
  <!-- <script src="/template/assets/js/dashboard-human-resources.js?{{ .UnixTime }}"></script> -->
  <!-- Custom scripts -->
  <script src="/template/assets/js/app-script.js"></script>
  
    <!--Data Tables js-->
	<script src="/template/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
	<script src="/template/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
	<script src="/template/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
    
	<script src="/template/assets/plugins/notifications/js/lobibox.min.js"></script>
	<script src="/template/assets/plugins/notifications/js/notifications.min.js"></script>
	<script src="/template/assets/gulibs/notifi.js?{{ .UnixTime }}"></script>
	
	<script src="/template/assets/gulibs/gu.js?{{ .UnixTime }}"></script>
	<script src="/template/assets/gulibs/dialog.js?{{ .UnixTime }}"></script>

 

{{ end }}