{{define "sidebar"}}   
 <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
   <div class="user-details">
    <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
      <div class="avatar"><a class="aj" href="/"><img class="mr-3 side-user-img" src="/template/assets/images/logo-icon.png" alt="user avatar"></a></div>
       <div class="media-body">
       <h6 class="side-user-name">Launcher</h6>
      </div>
       </div>
     <div id="user-dropdown" class="collapse">
      <ul class="user-setting-menu">
            <li><a class="aj" href="/setting/patch/create"><i class="icon-settings"></i> {{ GetPhrase 42 }}</a></li>
            <li><a class="aj" href="/faq/api"><i class="icon-settings"></i> API</a></li>
			<li><a class="aj" href="/setting/logs"><i class="icon-power"></i> {{ GetPhrase 43 }}</a></li>
      </ul>
     </div>
  </div>
	  
	  {{ template "navigation" .}}
	  
   </div>
   <!--End sidebar-wrapper-->

{{ end }}