{{define "pages/addingsError"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "addingsError_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "addingsError_block"}}
	
	            <div class="row">
                <div class="col-md-12">
                  <div class="text-center coming-soon">
                       
                  <h2 class="coming-soon-title text-primary">{{ .MainMessage }}</h2>
                  <p class="">{{ .DescMessage }}</p>
                   <div class="mt-0">
					<button type="submit" data-ids="{{ .DownloadsID }}" id="gu_addingdonwload" class="btn btn-dark btn-round m-1"><i class="fa fa-check-square-o"></i> Загрузить</button>
                  </div>
                      </div>
                </div>
            </div>
 
{{end}}


