{{define "pages/clientset"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "clientset_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "clientset_block"}}
	 
		<div class="row">
        <div class="col-lg-12">
          <div class="card">
             <div class="card-header ">{{ GetPhrase 60 }}</div>
             <div class="card-body">
			 
				<div class="form-group row">
				  <label for="clientSetPath" class="col-sm-3 col-form-label ">{{ GetPhrase 64 }}<font color="red">*</font></label>
				  <div class="col-sm-9">
				  <div class="input-group">
                        <input id="clientSetPath" type="text" class="form-control" placeholder="{{ GetPhrase 65 }}: D:\Games\Interlude" aria-label="game path" aria-describedby="game path">
                        <div class="input-group-append">
						  <button class="btn btn-sm btn-primary showDialog" data-input="clientSetPath" data-toggle="modal" data-target="#openDiaglog">{{ GetPhrase 66 }}</button>
					   </div>
                      </div>
 				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="clientVersion" class="col-sm-3 col-form-label">{{ GetPhrase 63 }}<font color="red">*</font></label>
				  <div class="col-sm-9">
					<select class="form-control" id="clientVersion">
                         {{range $i, $version := .Chronicle}}
							<option value="{{ $version.Codename }}">{{ $version.Title }} ({{ $version.Codename }})</option>
						 {{ end }}
                        </select>
				  </div>
				</div>
				
			 <div class="form-group row">
				  <label for="clientname" class="col-sm-3 col-form-label">{{ GetPhrase 61 }}</label>
				  <div class="col-sm-9">
				     <input type="text" id="clientname" placeholder="{{ GetPhrase 62 }}" class="form-control">
				  </div>
				</div>
				
				 
				<button type="submit" id="savePathClient" class="btn btn-primary mr-2">{{ GetPhrase 67 }}</button>
             </div>
          </div>
        </div>
      </div><!--End Row-->
	  
	  
	    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
			  <div class="table-responsive">
               <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">{{ GetPhrase 50 }}</th>
                    <th scope="col">{{ GetPhrase 68 }}</th>
                    <th scope="col">{{ GetPhrase 69 }}</th>
                  </tr>
                </thead>
                <tbody id="clientsPathList">
				  {{ range .AllWays }}
                  <tr>
                    <td>
					<span class="badge badge-danger removeClient" data-id="{{ .ID }}"><i class="fa fa-remove"></i></span> {{ .Chronicle | getChronicle }}</td>
                    <td>{{ .Name }}</td>
                    <td><strong id="openDirectory" data-path="{{ .Path }}">{{ .Path }}</strong></td>
                  </tr>
				  {{ end }}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        </div>
		
	{{ template "setTitle" . }}

{{end}}

