{{define "pages/createpatch"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "createpatch_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "createpatch_block"}}

      <div class="row">
        <div class="col-lg-12">
           <div class="card">
              <div class="card-body"> 
                <ul class="nav nav-pills nav-pills-dark nav-justified" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#piil-13"><i class="icon-home"></i> <span class="hidden-xs">Создание патч листа</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#piil-14"><i class="icon-user"></i> <span class="hidden-xs">Регистрация в Лаунчере</span></a>
                  </li> 
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="piil-13" class="container tab-pane active">
              
		<div class="row">
              <div class="col-md-8 grid-margin stretch-card">
 				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Описание создания патча</button>
				<div class="collapse" id="collapseExample">
				  <div class="card card-body">
					  <p>В первом поле укажите папку где находится игровой клиент, который необходимо запатчить.</p>
					 <p>В следующем поле укажите папку сохранения архивов.</p>
					 <p>После завершения архивации, в папке сохрания появится файл patch.json, это файл с данными вашего патча.</p>
					 <p>Файл patch.json и все файлы необходимо загрузить на ваш сервер.</p>
					 <p>Далее, при регистрации вашего сервера в базе лаунчера, необходимо указать прямые ссылки на patch.json и архивы.</p>
				  </div>
				</div>
 				<hr>
                    <div class="forms-sample">
                      <div class="form-group">
					   
                      <div class="form-group">
                        <label for="savedirupdate" data-toggle="tooltip" title="Введите путь где расположен патч, все файлы в папке будут проиндексированы, заархивированы.">Файлы для обновления, которые будем патчить</label>
 							 <div class="input-group">
								<input type="text" id="savedirupdate" class="form-control" placeholder="Укажите папку" aria-label="Укажите папку" aria-describedby="basic-addon2">
								<div class="input-group-append">
								  <button class="btn btn-sm btn-primary showDialog" data-input="savedirupdate" data-toggle="modal" data-target="#openDiaglog" type="button">Окно</button>
								</div>
						     </div> 
                      </div>
					  
					  <div class="form-group">
                        <label for="savedirclientpath" data-toggle="tooltip" title="Вам необходимо указать папку для сохранения патча.">Где будут сохраняться архивы</label>
 							 <div class="input-group">
								<input type="text" id="savedirclientpath" class="form-control" placeholder="Укажите папку" aria-label="Укажите папку" aria-describedby="basic-addon2">
								<div class="input-group-append">
	 							  <button class="btn btn-sm btn-primary showDialog" data-input="savedirclientpath" data-toggle="modal" data-target="#openDiaglog" type="button">Окно</button>
								</div>
							 </div> 
                      </div>
					  
                        </div> 
                       <button id="createPatchServer" type="submit" class="btn btn-primary mr-2">Начать</button>
                    </div>
               </div>
			   
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Обработка</h4>
                    <div class="table-responsive">
                      <table class="table table-dark">
                         <tbody>
                          <tr>
                            <td> Файлов </td>
                            <td id="filesCreateData"> 0 / 0 </td>
                          </tr>
                          <tr>
                            <td> Размер </td>
                            <td id="filesCreateDataSize"> 0B </td>
                          </tr>
                          <tr>
                            <td> Время </td>
                            <td id="filesCreateDataTime"> 0 </td>
                          </tr>
                          <tr>
                            <td> Статус </td>
                            <td id="filesCreateDataStatus"> Ожидание </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
		</div>
				</div>
				
               <div id="piil-14" class="container tab-pane fade">
 				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#descRegistrationLauncher" aria-expanded="false" aria-controls="collapseExample">Описание регистрации</button>
				<div class="collapse" id="descRegistrationLauncher">
				  <div class="card card-body">
					<p>Все сервера отображаемые в лаунчере, находится в общей базе, при регистрации, вы добавляете свой сервер в базу.</p>
					<p>Вам необходимо заполнить данные необходмые для лаунчера.</p>
					<p>После заполнения, вы получите код ваших настроек, его нужно передать <a href="https://t.me/Cannabytes">разработчику лаунчера<a/>.</p>
					<p>После успешной проверки, ваш сервер появится в базах у всех пользователей лаунчера.</p>
				  </div>
				</div>
				<hr>
				<div class="form-group row">
				  <label for="Domain" class="col-sm-3 col-form-label">Сайт сервера</label>
				  <div class="col-sm-9">
					<input type="text" class="form-control" placeholder="https://example.com" data-sname="Domain" id="Domain">
				  </div>
				</div>
			
				<div class="form-group row">
				  <label for="Chronicle" class="col-sm-3 col-form-label">Хроники</label>
				   <div class="col-sm-9">
						<select class="form-control " data-sname="Chronicle" id="Chronicle">
						  {{ range $i, $chronicle := .ChronicleList }}
							<option value="{{ $i }}"  > {{ $chronicle.Title }} ({{ $chronicle.Codename }})</option>
						  {{ end }}   
						</select>
				</div>
				</div>
				
				<div class="form-group row">
				  <label for="PatchDBLink" class="col-sm-3 col-form-label">Ссылка патч-лист (patch.json)</label>
				  <div class="col-sm-9">
					<input type="text" class="form-control" placeholder="https://files.example.com/patch.json" data-sname="PatchDBLink" id="PatchDBLink">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="FileArchivesLink" class="col-sm-3 col-form-label">Ссылка где храниться файлы</label>
				  <div class="col-sm-9">
					<input type="text" class="form-control" placeholder="https://files.example.com" data-sname="FileArchivesLink" id="FileArchivesLink">
				  </div>
				</div>
				<hr>
				
				<div class="form-group row">
				  <label for="l2exeapp" class="col-sm-3 col-form-label">Приложение игры</label>
				  <div class="col-sm-9">
					<input type="text" class="form-control " data-sname="l2exeapp" id="l2exeapp" placeholder="system/l2.exe">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="l2exeargs" class="col-sm-3 col-form-label">Аргументы</label>
				  <div class="col-sm-9">
					<input type="text" class="form-control " data-sname="l2exeargs" id="l2exeargs">
				  </div>
				</div>
				
				<hr>
 					
				<div class="form-group row">
				  <label for="Exp" class="col-sm-3 col-form-label">Exp</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control" placeholder="10" data-sname="Exp" id="Exp">
				  </div>
				</div>	
				
				<div class="form-group row">
				  <label for="SP" class="col-sm-3 col-form-label">SP</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control" placeholder="10" data-sname="SP" id="SP">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="Drop" class="col-sm-3 col-form-label">Drop</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control" placeholder="1" data-sname="Drop" id="Drop">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="Adena" class="col-sm-3 col-form-label">Adena</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control " placeholder="3" data-sname="Adena" id="Adena">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="Spoil" class="col-sm-3 col-form-label">Spoil</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control" placeholder="3" data-sname="Spoil" id="Spoil">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="Quest" class="col-sm-3 col-form-label">Quest</label>
				  <div class="col-sm-9">
					<input type="number" class="form-control" placeholder="1" data-sname="Quest" id="Quest">
				  </div>
				</div>
				<hr>
				<div class="form-group row">
				  <label for="dateStart" class="col-sm-3 col-form-label">Дата старта</label>
				  
				  <div class="col-sm-2">
				    <input type="time" id="timeStart" autocomplete="off" data-date-format="hh.mm" class="form-control" data-sname="timeStart" required>
				  </div> 
				  
				  <div class="col-sm-3">
				    <input type="text" id="dateStart" autocomplete="off" data-date-format="mm.dd.yyyy" class="form-control" data-sname="dateStart">
				  </div> 
				  
				</div>
				   
				<div class="form-group row">
				  <label for="TimeZone" class="col-sm-3 col-form-label">Часовой пояс</label>
				  <div class="col-sm-9">
						<select class="form-control " data-sname="TimeZone" id="TimeZone">
 								{{ range $i, $tz := .Timezone }}
									<option value="{{ $tz.Name }}" >{{ $tz.Name }}</option>
							    {{ end }}   
 						</select>
 					</div>
				</div>
				
				<div class="form-group row">
				  <label for="ServerVersion" class="col-sm-3 col-form-label">Версия сервера</label>
				  <div class="col-sm-9">
						<select class="form-control " data-sname="ServerVersion" id="ServerVersion">
 							<option value="1" >PvP</option>
 							<option value="2" >PvE</option>
 							<option value="2" >GvE</option>
 							<option value="2" >Adding</option>
 						</select>
 				  </div>
				</div>
				
				
				<hr>
				
					
				<div class="form-group row">
				  <label for="MaxEnchant" class="col-sm-3 col-form-label">Макс. заточка</label>
				  <div class="col-sm-9">
					<input type="number" placeholder="16" class="form-control " data-sname="MaxEnchant" id="MaxEnchant">
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="SafeEnchant" class="col-sm-3 col-form-label">Безопастные заточка</label>
				  <div class="col-sm-9">
					<input type="number" placeholder="3" class="form-control " data-sname="SafeEnchant" id="SafeEnchant">
				  </div>
				</div>
				
				
				<hr>
				
				
				<div class="form-group row">
					<div class="col-sm-9">
						<div class="icheck-material-primary">
						<input type="checkbox" id="gmshop" checked=""/>
						<label for="gmshop">Есть ли GM-Shop</label>
					  </div>
				    </div>
 
				  
				  <div class="col-sm-9">
						<div class="icheck-material-primary">
						<input type="checkbox" id="buffer" checked=""/>
						<label for="buffer">Есть ли баффер</label>
					  </div>
				    </div>
				  
 				
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="globalGK" checked=""/>
						<label for="globalGK">Есть ли глобальный ГК</label>
					  </div>
				  </div>
				
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="offlineTrade" checked=""/>
						<label for="offlineTrade">Есть ли офлайн торг</label>
					  </div>
				  </div>
				
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="soft" checked=""/>
						<label for="soft">Разрешен бот</label>
					  </div>
				  </div>
				
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="macros" checked=""/>
						<label for="macros">Есть ли баг макросов</label>
					  </div>
				  </div>
				
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="ss" checked=""/>
						<label for="ss">Бесконечные ли Soushots</label>
					  </div>
				  </div>
				 
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="newbiehelp" checked=""/>
						<label for="newbiehelp">Есть ли помощь новичкам</label>
					  </div>
				  </div>
				  
				  <div class="col-sm-9">
					<div class="icheck-material-primary">
						<input type="checkbox" id="autoregistration" checked=""/>
						<label for="autoregistration">Авторегистрация</label>
					  </div>
				  </div>
				</div>
			 
			<hr>
			Проверка владельца сайта.<br>
			Для того чтоб ваш сервер попал в базу лаунчера, необходимо проверить, является сайт вашим.<br>
			В корне вашего сайта, создайте пустой файл <strong id="code">{{ .CreateCode }}</strong><br>
			Пример: https://example.com/{{ .CreateCode }}<br>
			Если на момент проверки файла не будет, регистрация будет отклонена.
			<hr>
				
				 <div class="form-footer">
                    <button type="submit" id="gu_patchCreateLink" class="btn btn-success"><i class="fa fa-check-square-o"></i> Сгенерировать конфигурацию</button>
                </div>
				
				<hr>
				
				 
				
				<div class="form-group row">
				  <label for="gulink" class="col-sm-3 col-form-label">Конфигурация<br>Передайте её разработчику</label>
				  <div class="col-sm-9">
                    <textarea class="form-control" rows="5" id="gulink" readonly></textarea>
				  </div>
				</div>
				 
                  </div>
              
                </div>
             
			 </div>
           </div>
       
        </div>
        </div>

	 
{{end}}


