{{define "pages/launcherinfo"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "launcherinfo_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "launcherinfo_block"}}
	 
	 

          <div class="row">
            <div class="col-12 col-lg-6 col-xl-6">
              <div class="card">
                <div class="card-body">
                  <div class="media align-items-center">
                      <div class="media-body text-left">
                        <h4 class="text-primary mb-0">{{ .LauncherVersion }}</h4>
                        <span class="small-font">Launcher</span>
                      </div>
                                               <a href="javascript:void()" class="btn-social btn-social-circle btn-facebook waves-effect waves-light m-1"><i class="fa fa-refresh"></i></a>

                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                 <div class="card">
                  <div class="card-body">
                    <div class="media align-items-center">
                        <div class="media-body text-left">
                          <h4 class="text-secondary mb-0">{{ .TemplateVersion }}</h4>
                          <span class="small-font">Template</span>
                        </div>
 						
                          <a href="javascript:void()" class="btn-social btn-social-circle btn-facebook waves-effect waves-light m-1"><i class="fa fa-refresh"></i></a>
						  
                       </div>
                  </div>
                </div>
            </div>
			
	<div class="col-lg-12">
       <div class="card">
          <div class="card-body">
            <blockquote class="blockquote">
              <p>Обновление лаунчера и шаблона происходит автоматически при запуске лаунчера.</p>
              <p>Это помогает быстро решать возникшие проблемы, выпускать фиксы, оперативно внедрять новый функционал.</p>
              <footer class="blockquote-footer">Launcher Admin</footer>
            </blockquote>
          </div>
        </div>
    </div>

          </div><!--End Row-->

	{{ template "setTitle" . }}

{{end}}


