{{define "pages/main"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" .}}
<div id="wrapper">
    {{ template "sidebar" .}}
    {{ template "topbar" .}}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
 			{{ template "main_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" .}}
</div>
{{ template "scripts" .}}
</body>
</html>
{{end}}

{{define "main_block"}}
	 
	
	<div class="row">
        <div class="col-lg-12">
           <div class="card">
              <div class="card-body"> 
                <ul class="nav nav-tabs nav-tabs-info nav-justified">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabe-13"><i class="icon-home"></i> <span class="hidden-xs">Game Update</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabe-14"><i class="icon-envelope-open"></i> <span class="hidden-xs">F.A.Q.</span></a>
                  </li> 
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="tabe-13" class="container tab-pane active">
                    {{ GetPhrase 131 }}
              
 		  <hr>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 rounded w-50" src="/template/assets/images/fsavefilesclient.png" alt="user avatar"/>
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 132 }}</h5>
                    {{ GetPhrase 133 }}
                </div>
              </li>
              <li class="media my-4">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 134 }}</h5>
				  {{ GetPhrase 135 }} 
                </div>
                <img class="mr-3 rounded w-50" src="/template/assets/images/fserver.png" alt="user avatar"/>
              </li>
              <li class="media my-4">
                <img class="mr-3 rounded w-50" src="/template/assets/images/fcreateclients.png" alt="user avatar"/>
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 136 }}</h5>
					{{ GetPhrase 137 }}
                </div>
              </li>
              <li class="media my-4">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 138 }}</h5>
                    {{ GetPhrase 139 }}
                </div>
                <img class="mr-3 rounded w-50" src="/template/assets/images/floading.png" alt="user avatar"/>
              </li>
              <li class="media my-4">
                <img class="mr-3 rounded w-50" src="/template/assets/images/fnotes.png" alt="user avatar"/>
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 115 }}</h5>
				  {{ GetPhrase 140 }}
				  </div>
              </li>
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ GetPhrase 141 }}</h5>
                    {{ GetPhrase 142 }}
				  </div>
                <img class="mr-3 rounded w-50" src="/template/assets/images/fserverlevel.png" alt="user avatar"/>
              </li>
              
            </ul>
 			  
			  
			  </div>
                  <div id="tabe-14" class="container tab-pane fade">
					
		<ul class="list-group">
		
              <li class="list-group-item">
                <div class="media align-items-center">
                 <div class="media-body ml-3">
                  <h6 class="mb-0">{{ GetPhrase 143 }}</h6>
                  <p class="mb-0 small-font">{{ GetPhrase 144 }}</div>
                </div>
              </li>
             
			 <li class="list-group-item">
                <div class="media align-items-center">
                 <div class="media-body ml-3">
                  <h6 class="mb-0">{{ GetPhrase 145 }}</h6>
                  <p class="mb-0 small-font">{{ GetPhrase 146 }}</p>
                </div>
               </div>
              </li>
			     
			 <li class="list-group-item">
                <div class="media align-items-center">
                 <div class="media-body ml-3">
                  <h6 class="mb-0">{{ GetPhrase 147 }}</h6>
                  <p class="mb-0 small-font">{{ GetPhrase 148 }}</p>
                </div>
               </div>
            </li> 
			
			 <li class="list-group-item">
                <div class="media align-items-center">
                 <div class="media-body ml-3">
                  <h6 class="mb-0">{{ GetPhrase 149 }}</h6>
                  <p class="mb-0 small-font">{{ GetPhrase 150 }}</p>
                </div>
               </div>
            </li>
			     
            </ul>
					
		</div>
          
                </div>
              </div>
           </div>
           </div>
           </div>
	
	
	
		{{ template "setTitle" . }}

{{end}}


