{{define "pages/server"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "server_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" .}}
</body>
</html>
{{end}}

{{define "server_block"}}

	{{ template "server_vote_block" . }}
	{{ template "note_block" . }}

	<div class="row">
        <div class="col-lg-12">
          <div class="card-group">
            <div class="card border-right border-light-3">
               <div class="card-body" id="serverSelect">
					{{ template "serverSelect_block" . }}
			   </div>
            </div>
            <div class="card border-right border-light-3">

			<div class="card-body"><h5 class="card-title">Рейтинг сервера</h5>
				
			<div class="row m-0 row-group text-center border-light-2">
		   
				   <div class="col-4 col-lg-4">
					 <div class="p-0">
					   <h5 class="mb-0">{{ .ServerInfo.Rating }}</h5>
					   <small class="mb-0">Голосов</small>
					 </div>
				   </div>
				   <div class="col-4 col-lg-4">
					 <div class="p-0">
					   <h5 class="mb-0">{{ percent .MaxRating .ServerInfo.Rating }}%</h5>
					   <small class="mb-0">Рейтинг</small>
					 </div>
				   </div>
				   <div class="col-4 col-lg-4">
					 <div class="p-0">
					   <h5 class="mb-0" data-toggle="modal" data-target="#showVoteDialog"><i class="fa fa-thumbs-o-up"></i></h5>

					   <small class="badge {{ if .VoteTimeOut | timeVoteCheck }}badge-success{{else}}badge-dark badge-pill{{end}}" data-toggle="modal" data-target="#showVoteDialog">Голосовать</small>
					   
					 </div>
				   </div>
				</div>
              </div>
              <div class="card-footer">
					<div class="progress" style="height:5px;">
					<div class="progress-bar bg-danger" style="width: {{ percent .MaxRating .ServerInfo.Rating }}%"></div>
             </div>
           </div>
            </div>
            <div class="card">
               <div class="card-body">
                <h5 class="card-title">Заметки</h5>
                <p class="card-text">Сохраните себе полезную информацию о сервере.</p>
				<button type="button" data-toggle="modal" data-target="#largesizemodal" class="btn btn-dark btn-sm btn-round btn-block waves-effect waves-light m-1">Открыть</button>
               </div>
            </div>
			
			
          </div>
        </div>
      </div><!--End Row-->
  
	<div class="row">
			
			 <div class="col-12 col-lg-4 col-xl-8">
                    <div class="card" >
 
                        <div class="card-header">Загрузка файлов
                            <div class="card-action">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                        <i class="icon-options"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item aj" href="/setting/block/list">Черный список</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" id="GU_tableLoads"></div>

						<div class="card-footer"> 
                            <div class="row align-items-center text-center">
                                <div class="col border-right border-light">
                                    <h4 class="mb-0" id="CountFilesUploaded">0</h4>
                                    <small class="extra-small-font">Загружено</small>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0" id="CountFiles">0</h4>
                                    <small class="extra-small-font">Всего</small>
                                </div>
                            </div>
                         </div>
			
						<div class="progress-wrapper">
							<div class="progress" style="height: 9px;">
							  <div class="progress-bar gradient-branding" id="ProcentLoad" role="progressbar" style="width: 0%"></div>
							</div>
						 </div>

                    </div>
                </div>
				
				
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="card">

                        <div class="card-header">Характеристики</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Сервер : <span class="float-right">{{ .ServerInfo.Domain | Hostname }}</span></li>
                            <li class="list-group-item">Версия игры : <span class="float-right">{{ .ServerInfo.Chronicle | getChronicle }}</span></li>
                            <li class="list-group-item">EXP : <span class="float-right">x{{ .ServerInfo.Exp }}</span></li>
                            <li class="list-group-item">Версия сервера : <span class="float-right">{{ .ServerInfo.Style | ServerStyle }}</span></li>
                            <li class="list-group-item">Дата старта : <span class="float-right">{{ TimeFormat .ServerInfo.Date .ServerInfo.TimeZone }} / {{ DayFormat .ServerInfo.Date .ServerInfo.TimeZone }}</span></li>
							 <li class="list-group-item">Старт через : <span class="float-right">{{ TimeDiff .ServerInfo.Date .ServerInfo.TimeZone }} сек.</span></li>
                            <li class="list-group-item">Рейтинг : <span class="float-right">{{ .ServerInfo.Rating }}</span></li>
                        </ul>
                    </div> 
                </div> 
            </div>
   		
	<div class="card">
        <div class="card-header text-uppercase">Уровень сервера - {{ .ServerLeveL | ServerLevelName }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="icheck-material-primary">
                <input type="checkbox" id="primary" {{ if .ServerInfo.IsGMShop }}checked{{ end }} />
                <label for="primary">GM Shop</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-success">
                <input type="checkbox" id="success" {{ if .ServerInfo.IsNPCBuffer }}checked{{ end }}/>
                <label for="success">NPC Buffer</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-danger">
                <input type="checkbox" id="danger" {{ if .ServerInfo.IsGlobalGK }}checked{{ end }}/>
                <label for="danger">Global GK</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-info">
                <input type="checkbox" id="info" {{ if .ServerInfo.IsOfflineTrade }}checked{{ end }}/>
                <label for="info">Offline Trade</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-warning">
                <input type="checkbox" id="warning" {{ if .ServerInfo.IsAccessSoft }}checked{{ end }}/>
                <label for="warning">Разрешен бот</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-secondary">
                <input type="checkbox" id="secondary" {{ if .ServerInfo.IsBugMacros }}checked{{ end }}/>
                <label for="secondary">Маг. макросы</label>
              </div>
             </div>
             <div class="col-md-3">
              <div class="icheck-material-dark">
                <input type="checkbox" id="dark" {{ if .ServerInfo.IsInfinitySS }}checked{{ end }}/>
                <label for="dark">Бесконечные SS</label>
              </div>
             </div>
			 <div class="col-md-3">
              <div class="icheck-material-white">
                <input type="checkbox" id="white" {{ if .ServerInfo.IsHelpNewbie }}checked{{ end }}/>
                <label for="white">Помощь новичкам</label>
              </div>
             </div>
          </div><!--End Row-->
          <hr>
           
		   <div class="row">
            <div class="col-md-3">
                <label>EXP: </label>
                <label>{{ .ServerInfo.Exp }}</label>
             </div>
             <div class="col-md-3">
                <label >SP: </label>
                <label >{{ .ServerInfo.SP }}</label>
             </div>
             <div class="col-md-3">
				<label >Adena: </label>
                <label >{{ .ServerInfo.Adena }}</label>
              </div>
             <div class="col-md-3">
             	<label >Drop: </label>
                <label >{{ .ServerInfo.Drop }}</label>
              </div>
             <div class="col-md-3">
             	<label >Spoil: </label>
                <label >{{ .ServerInfo.Spoil }}</label>
             </div>
             <div class="col-md-3">
             	<label >Quest: </label>
                <label >{{ .ServerInfo.Quest }}</label>
             </div>
             <div class="col-md-3">
             	<label >Max Enchant: </label>
                <label >+{{ .ServerInfo.MaxEnchant }}</label>
             </div>
             <div class="col-md-3">
             	<label >Safe Enchant: </label>
                <label >+{{ .ServerInfo.SafeEnchant }}</label>
			</div>
			 
          </div><!--End Row-->
              
		  </div>
	  </div>
{{end}}


{{define "serverSelect_block"}}
	{{ if not .WaysChronicle }}<small>Месторасположение игры {{  .ServerInfo.Chronicle | getChronicle }}</small>
			<div class="input-group">
				<input id="getClientPath" type="text" class="form-control" placeholder="К примеру: D:\Games\Interlude" aria-label="game path" aria-describedby="game path">
				<div class="input-group-append">
				    <button class="btn btn-sm btn-primary showDialog" data-input="getClientPath" data-toggle="modal" data-target="#openDiaglog">Выбрать</button>
				</div>
 			</div>
			<br>
			<button id="dirOpenDialogPathServerSave" data-return="getClientPath" data-chronicle="{{ .ServerInfo.Chronicle }}" data-serverid="{{ .ServerInfo.ID }}" type="button" class="btn btn-success waves-effect waves-light m-0">Применить</button>
 	  {{else}}
			<select class="form-control" id="getClientPath">
			{{ range $i, $way := .WaysChronicle }}
					<option value="{{ $way.Path }}" > {{ $way.Name }} [ {{ $way.Path }} ]</option>
			{{ end }}
			</select>
			<button type="button" id="GU_patch" class="btn btn-success btn-sm waves-effect waves-light m-1">Обновить патч</button>
			<div class="icheck-material-primary">
				<input type="checkbox" id="autostart" checked="">
				<label for="autostart">Запустить игру после обновления</label>
			</div>
	   {{ end }}
{{end}}

             
{{define "server_vote_block" }}
                <div class="modal fade" id="showVoteDialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Голосование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div>
						  {{ if .VoteTimeOut | timeVoteCheck }}
                             <div class="form-group">
								 <p class="card-text">Если Вам нравится сервер <b>{{ .ServerInfo.Domain }} {{  .ServerInfo.Chronicle | getChronicle }} x{{ .ServerInfo.Exp }}</b>, проголосуйте за него, и Вы улучшите позиции в рейтинге.</p>
								 <p class="card-text">Вы можете голосовать каждые 12 часов.</p>
								 <p class="card-text">Как правило, сервера вознаграждают игроков за голосование.</p>
                             </div>
                             <div class="form-group">
                               <label for="voteGameNick">Ваш игровой ник</label>
                               <input type="text" class="form-control" id="voteGameNick" placeholder="Ник персонажа">
                             </div>
                              <div class="form-group">
                              <button type="submit" id="vote" class="btn btn-primary px-5"><i class="fa fa-thumbs-o-up"></i> Голосовать</button>
                            </div>
							{{ else }}
							<div class="form-group">
								 <p class="card-text">Вы уже голосовали.<br>Следующий раз проголосовать сможете через {{ .VoteTimeOut | TimeUnixSec }} сек.</p>
                             </div>
							{{end}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
				 
{{end}}


             
{{define "note_block" }}

			<!-- Modal -->
                <div class="modal fade" id="largesizemodal">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
					
                      <div class="modal-header">
                        <h5 class="modal-title">Заметки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                       
					     
                 <ul class="nav nav-tabs nav-tabs-danger top-icon" id="noteTab" >
                  <li class="nav-item">
                    <a class="nav-link active" id="allnote" data-domain="{{ .ServerInfo.Domain }}" data-toggle="tab" href="#notes"><i class="icon-home"></i> <span class="hidden-xs">Мои заметки</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#createnote"><i class="icon-user"></i> <span class="hidden-xs">Создать</span></a>
                  </li>
               
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="notes" class="container tab-pane active">
 					
						<div class="card mt-1 shadow-none">
							 <div class="table-responsive" id="noteData">
								{{if not .Notes}}
									<label>У Вас нет записей к данному серверу, но Вы можете создать</label>
								{{else}}
								<table class="table table-hover">
									<tbody>
									 {{ range .Notes }}
										 <tr>
											 <td>
												 <label class="noteRead" data-id="{{ .ID }}" href="/notes/id/{{ .ID }}"><i class="fa fa-circle text-info mr-2"></i>{{ strLimit .Content 70 }}</label>
											 </td>
										 </tr>
									 {{ end }}
								 </tbody>
							   </table>
							   {{end}}
						    </div>
					   </div> 
 					
                  </div>
                
				<div id="createnote" class="container tab-pane fade">
                   	<div class="card mt-1 shadow-none" id="noteDataCreate">
 					  <div class="mt-0">
						<div class="form-group">
						 <textarea class="form-control" rows="9" id="note" placeholder="Сохраните заметки о сервере. Заметки отображаются только для данного сервера, вне зависимости от хроник, рейтов."></textarea>
						</div>
					  </div>
					  
					  <div class="text-right">
						  <button type="button" id="noteSave" data-domain="{{ .ServerInfo.Domain }}" class="btn btn-primary waves-effect waves-light mt-0"><i class="fa fa-send mr-1"></i> Сохранить</button>
					  </div>
                  </div>
                  </div>
				  
                </div>

                    </div>
                  </div>
                </div>
             
 
{{end}}

