{{define "pages/settings"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "settings_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "settings_block"}}
	
	<div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <h4 class="form-header text-uppercase">
                  <i class="fa fa-user-circle-o"></i>
                   Настройки Game Update
                </h4>
				<hr>

                <div class="form-group row">
					<label for="input-6" class="col-sm-4 col-form-label">Мы можем сохранять все патчи, это устранит надобность в повторной загрузки одинаковых файлов</label>
                  <div class="col-sm-8">
						<select class="form-control gu_settings" data-sname="filesReserve" id="input-6" name="intersted" required>
							<option value="true"  {{if .FilesReserve }}selected{{end}}>Загружать всегда повторно</option>
							<option value="false" {{if not .FilesReserve }}selected{{end}}>Сохранять в резерве файлы патча</option>
						</select>
                  </div>
                 </div>
                <div class="form-group row">
					<label for="saveFiles" class="col-sm-4 col-form-label">Где сохранять резервные патчи</label>
					 <div class="col-sm-8">
						<div class="input-group">
							<input id="savePathSetting" type="text" data-sname="savePathSetting" value="{{ .PathSetting }}" class="form-control gu_settings" placeholder="" aria-label="резервный патч" aria-describedby="резервный патч">
							<div class="input-group-append">
								<button class="btn btn-sm btn-primary showDialog" data-input="savePathSetting" data-toggle="modal" data-target="#openDiaglog">Выбрать</button>
								<button class="btn btn-sm btn-danger" id="saveInputPathSetting">Сохранить</button>
							</div>
                        </div>
                    </div>
                 </div>
				<hr>
                <div class="form-group row">
                  <label for="input-7" class="col-sm-4 col-form-label">Удалять файлы сразу?</label>
                  <div class="col-sm-8">
						<select class="form-control gu_settings" data-sname="delayedRemove" id="input-7" name="intersted" required>
							<option value="true"  {{if .DelayedRemoveZip }}selected{{end}}>Да, будем удалять архив после загрузки каждого файла</option>
							<option value="false" {{if not .DelayedRemoveZip }}selected{{end}}>Нет, будем удалять архивы патча после загрузки всех файлов</option>
						</select>
                  </div>
                </div>
				<hr>
                
                <div class="form-group row">
					<label for="countDownloads" class="col-sm-4 col-form-label">Кол-во одновременных загрузок</label>
                    <div class="col-sm-2">
                          <input class="form-control gu_settings" data-sname="countDownloads" id="countDownloads" type="number" value="{{ .Streams }}" min="1" max="5" >
                    </div>
                </div>		
				<hr>
				
				<div class="form-group row">
                  <label for="autostart" class="col-sm-4 col-form-label">Автозапуск</label>
                  <div class="col-sm-8">
				  		<div class="icheck-material-primary">
							<input type="checkbox" class="gu_settings" data-sname="autostart" id="autostart" {{ if .AutoStartGU }}checked{{end}} />
							<label for="autostart">Запускать Game Update после запуска Windows</label>
						</div>
                </div>
                </div>
				
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->
	
 
             
				
{{end}}


