{{define "pages/settings"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "pageloader" }}
<div id="wrapper">
    {{ template "sidebar" }}
    {{ template "topbar" }}
    <div class="clearfix"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
			{{ template "settings_block" . }} 
            <div class="overlay toggle-menu"></div>
		</div>
    </div>
	{{ template "footer" }}
</div>
{{ template "scripts" }}
</body>
</html>
{{end}}

{{define "settings_block"}}
	
	<div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <h4 class="form-header text-uppercase">
                  <i class="fa fa-user-circle-o"></i>
                   {{ GetPhrase 13 }}
                </h4>
				<hr>

                <div class="form-group row">
					<label for="input-6" class="col-sm-4 col-form-label">{{ GetPhrase 170 }}</label>
                  <div class="col-sm-8">
						<select class="form-control gu_settings" data-sname="filesReserve" id="input-6" name="intersted" required>
							<option value="false"  {{if not .FilesReserve }}selected{{end}}>{{ GetPhrase 171 }}</option>
							<option value="true" {{if .FilesReserve }}selected{{end}}>{{ GetPhrase 172 }}</option>
						</select>
                  </div>
                 </div>
                <div class="form-group row">
					<label for="savePathSetting" class="col-sm-4 col-form-label">{{ GetPhrase 173 }}</label>
					 <div class="col-sm-8">
						<div class="input-group">
							<input id="savePathSetting" type="text" data-sname="savePathSetting" value="{{ .PathSetting }}" class="form-control gu_settings" placeholder="" aria-label="{{ GetPhrase 174 }}" aria-describedby="{{ GetPhrase 174 }}">
							<div class="input-group-append">
								<button class="btn btn-sm btn-primary showDialog" data-input="savePathSetting" data-toggle="modal" data-target="#openDiaglog">{{ GetPhrase 66 }}</button>
								<button class="btn btn-sm btn-danger" id="saveInputPathSetting">{{ GetPhrase 67 }}</button>
							</div>
                        </div>
                    </div>
                 </div>
				<hr>
                <div class="form-group row">
                  <label for="input-7" class="col-sm-4 col-form-label">{{ GetPhrase 175 }}</label>
                  <div class="col-sm-8">
						<select class="form-control gu_settings" data-sname="DeleteImmediatelyZip" id="input-7" name="intersted" required>
							<option value="true"  {{if .DelayedRemoveZip }}selected{{end}}>{{ GetPhrase 176 }}</option>
							<option value="false" {{if not .DelayedRemoveZip }}selected{{end}}>{{ GetPhrase 177 }}</option>
						</select>
                  </div>
                </div>
				<hr>
                
                <div class="form-group row">
					<label for="countDownloads" class="col-sm-4 col-form-label">{{ GetPhrase 178 }}</label>
                    <div class="col-sm-2">
                          <input class="form-control gu_settings" data-sname="countDownloads" id="countDownloads" type="number" value="{{ .Streams }}" min="1" max="5" >
                    </div>
                </div>		
				<hr>
				
				<div class="form-group row">
                  <label for="autostart" class="col-sm-4 col-form-label">{{ GetPhrase 179 }}</label>
                  <div class="col-sm-8">
				  		<div class="icheck-material-primary">
							<input type="checkbox" class="gu_settings_autoload" id="autostart" {{ if .AutoStartGU }}checked{{end}} />
							<label for="autostart">{{ GetPhrase 180 }}</label>
						</div>
                </div>
                </div>
				
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->
	  
	{{ template "setTitle" . }}
{{end}}


